#container{
    height: 200px;
    width: 100vw;
    background: blue;
}

#container h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#container p {
    margin: 20px;
    background: green;
    border: 2px solid black;
    padding: 10px;
    color: white;
}

